[submodule "helix"]
	path = helix
	url = git@github.com:BluSyn/helix-config.git
[submodule "tmux/plugins/tmux-thumbs"]
	path = tmux/plugins/tmux-thumbs
	url = https://github.com/fcsonline/tmux-thumbs.git
