[user]
	name = Steven Bower
	email = steven@turnwheel.com

# Makes pushing easier on master branch
[branch "master"]
	remote = origin
	merge = refs/heads/master

# Start other core configuration
[alias]
	unstage = reset HEAD --
	fuckit = reset --hard HEAD
	last = log -1 HEAD --stat --relative-date
	exportfiles = !sh -c 'git diff $0 --name-only | "while read files; do mkdir -p \"$1/$(dirname $files)\"; cp -vf $files $1/$(dirname $files); done"'
	subupdate = submodule foreach git fetch origin
	squash = merge --squash --no-commit
	mff = merge --no-ff --log
	new = log master..origin/master --stat
	ll = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	lls = !git ll --stat

[color]
	ui = yes

[core]
	autocrlf = input
	excludesfile = ~/.gitignore

[merge]
	conflictstyle = diff3

[rebase]
	stat = yes

# Graphical
[giggle]
	main-window-maximized = false
	main-window-geometry = 1232x794+182+49
	history-view-vpane-position = 486
	main-window-view = HistoryView
