# Typescript
[[language]]
name = "typescript"
auto-format = true

  # pass format options according to https://github.com/typescript-language-server/typescript-language-server#workspacedidchangeconfiguration omitting the "[language].format." prefix.
  [language.config.format]
  convertTabsToSpaces = true
  indentSize = 2
  insertSpaceAfterCommaDelimiter = true
  insertSpaceAfterConstructor = false
  insertSpaceAfterSemicolonInForStatements = true
  insertSpaceBeforeFunctionParenthesis = false
  insertSpaceBeforeTypeAnnotation = false
  placeOpenBraceOnNewLineForControlBlocks = false
  placeOpenBraceOnNewLineForFunctions = false
  semicolons = "insert"
  trimTrailingWhitespace = true


# RUST
[[language]]
name = "rust"
auto-format = true

  [language.debugger]
  command = "codelldb"
  name = "codelldb"
  port-arg = "--port {}"
  transport = "tcp"

    [[language.debugger.templates]]
    name = "binary"
    request = "launch"

    [[language.debugger.templates.completion]]
    completion = "filename"
    name = "binary"

    [language.debugger.templates.args]
    program = "{0}"
    runInTerminal = true

